.body{
  display: flex;
  min-height: 800px;
  flex-direction: column;

  &-banner{
   height: 300px;

   &-background{
    height:100%;
    width: 100%;
    object-fit: cover;
    }
  }
  &-placeholder{
    
   
  }
}


//animations 

