.productCard{
    height: 250px;
    width: 200px;
    border: 3px solid rgb(81, 81, 82);
    background-color: rgba(135, 148, 156, 0.798);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    &-fade{
        animation: fade-in 0.5s ease-in-out 1 running ;
    }
    &:hover{
        cursor: pointer;
        transform: scale(1.08);
        transition: 0.5s ease-in-out;
    }
    &-header{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: solid 3px  rgb(66, 66, 77);
        &-name{
            display: flex;
            justify-content: center;
            margin :10px
        }
        &-promo{
            text-align: center;
            width: 100%;
            background-color: red;
            border-bottom: rgb(255, 255, 255) 3px solid;
        }
    }
    &-body{
        height: 70%;
        &-image{
            height: 100%;
            width: 100%;
            object-fit: cover;
           
           
        }
        border-bottom: solid 3px  rgb(106, 106, 110);
    }
    &-footer{
        display: flex;
        justify-content: center;
        &-price{
            margin-top: 5px;
            text-align: center;
            height: 20px;
        }
       
    }
}


@keyframes fade-in{
    0%{
        opacity: 0;

    }

    100%{
        opacity: 1;
    }
}