.footer {
  text-align: center;
  border-top: #777676 solid 1px;
  background-color: #c5c5c5;
  box-shadow:  0px -0.5px 5px;
  font-size: 25px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
   
}


//animations
