.logComponent{
    width: 400px;
    height: 400px;
    margin-top: 80px;
    background-color: #f4f4f6;
    border-radius: 8px;
    border: solid rgb(1, 53, 46) 2px;
    box-shadow:  0px 10px 10px;
    color: rgb(10, 65, 65);
   
    &-header{
        display:flex;
        justify-content: space-evenly;
        border-bottom: solid black 2px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        &-border{
            border-left: 2px solid;
        }
        &-selection{
            display: flex ;
            width: 100%;
            justify-content: center;
            padding: 10px 0px 10px 0px;
            &-signIn{
                border-top-left-radius: 5px;
            }
            &-signUp{
                border-top-right-radius: 5px;
            }
            &:hover{
                cursor: pointer;
                background-color: rgb(38, 197, 136);
            }
        }
    }
}

.signUpForm{
    display: flex;
    flex-direction: column;
}