.header {
  text-align: center;
  background: rgb(176,251,183);
  background: linear-gradient(0deg, rgba(176,251,183,1) 54%, #80ff80 92%);
  font-size: 25px;
  border-bottom: 2px solid rgb(21, 71, 34);
  box-shadow:  0px 1px 5px;
  display: flex;
  justify-content: center;
    &-logo {
      height: 25vmin;
      pointer-events: none;
        animation: App-logo-landingPage 0.8s ease-in-out 1 running  ;
      
    }
}

//animations

@keyframes App-logo-landingPage {

  0% {
    transform: scale(0.01);
  }
  75% {
    transform: scale(1);
  }
  85% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
